:root {
    --base-font-size: 16px;
  }
  
  @media screen and (min-width: 320px) {
    :root {
      --base-font-size: calc(12px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
  }
  
  @media screen and (min-width: 1920px) {
    :root {
      --base-font-size: clamp(12px, 1vw, 18px);
    }
  }
  
  body {
    font-size: calc(var(--base-font-size) * 1);
  }
  
  h1 { font-size: calc(var(--base-font-size) * 2.5); }
  h2 { font-size: calc(var(--base-font-size) * 2); }
  p, input, button { font-size: calc(var(--base-font-size) * 1.6); }